.pointer-list-editor.pointer-list-ul
  = text_field_tag 'pointer_item', item, class: "pointer-item-text form-control _autocomplete #{extra_classes}",
                                         "data-options-card": options_card