
.search-keyword {
  font-style: italic;
}

.search-count {
  float: right;
  color: $gray-600;
}

.closed-content .search-no-results:after {
  content:'';
}

/* english content in css.  ugh */
.search-no-results:after {
  content:'0 results';
}

.search-box-nav {
  flex: 1 0 50%;
  .search-box-form {
    width: 100%;
  }
  .select2-results > .select2-results__options {
    max-height: none !important;
  }
  .select2-search__field {
    width: 100% !important;
  }
}

.search-box-item-label {
  float: left;
  position: relative;
  font-size: 10px;
  width: 50px;
  padding: 3px 0 3px 5px;
}
.search-box-item-value mark {
  padding: 0.2em 0;
}

.ui-autocomplete {
  z-index: 2000 !important; // to move it in front of modals (= 1050)
}

.autocomplete-item {
  display: flex;
  .autocomplete-icon {
    width: 30px;
    margin-right: 1em;
    text-align: center;
    img, svg {
      max-width: 100% !important;
      max-height: 100% !important;
      min-width: auto !important;
      min-height: auto !important;
    }
  }
}