.bar-menu.dropdown._over-card-link._card-link-clickable
  .bar-menu-button.btn.dropdown-toggle{ "aria-expanded": "false",
                    "aria-haspopup": "true",
                    "data-bs-toggle": "dropdown" }
    = icon_tag :bar_menu
  .bar-menu-list.dropdown-menu{ "aria-labelledby": ".bar-menu-button" }
    - bar_menu_items.each do |item|
      .dropdown-item
        = item
