- box_classes = css_classes classy("box"), card.safe_set_keys
.card._card-link.nodblclick{ class: box_classes, data: wrap_data }
  - if voo.show? :box_top
    .card-header.text-center{class: classy("box-top")}
      = render :box_top
      = render :menu
  - if voo.show? :box_middle
    .card-body{class: classy("box-middle")}
      = render :box_middle
  - if voo.show? :box_bottom
    .card-footer.text-center{class: classy("box-bottom")}
      = render :box_bottom
