.select2-search-box-dropdown > .select2-results > .select2-results__options {
  max-height: none !important;
}

.search-box-form {
  min-width: 50%;
  .select2-container {
    width: 100%
  }
}

.search-box-item-label {
  float: left;
  position: relative;
  font-size: 10px;
  width: 50px;
  padding: 3px 0 3px 5px;
}
.search-box-item-value mark {
  padding: 0.2em 0;
}
