.tags
.tags_swap
.idea/*
.idea-old/*
.jhw-cache
.rvmrc
.tm_properties
#.yardoc
*.iml
coverage
log/*
pkg
*.gem
*.project
*.sqlite3
*.DS_Store
*.swp
test_work/*
*.iml
*.orig
**/bucket_credentials.yml
decko/spec/node_modules
decko/spec/cypress/screenshots
decko/spec/cypress/videos
vendor