[submodule "card-mod-script/vendor/jquery_file_upload"]
	path = mod/script/vendor/jquery_file_upload
	url = https://github.com/blueimp/jQuery-File-Upload
[submodule "card-mod-script/vendor/jquery_rails"]
	path = mod/script/vendor/jquery_rails
	url = https://github.com/rails/jquery-rails
[submodule "card-mod-date/vendor/moment"]
	path = mod/date/vendor/moment
	url = https://github.com/moment/moment
[submodule "card-mod-date/vendor/tempusdominus"]
	path = mod/date/vendor/tempusdominus
	url = https://github.com/tempusdominus/bootstrap-4
[submodule "card-mod-bootstrap/vendor/bootstrap"]
	path = mod/bootstrap/vendor/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "card-mod-bootstrap/vendor/bootswatch"]
	path = mod/bootstrap/vendor/bootswatch
	url = https://github.com/thomaspark/bootswatch
[submodule "card-mod-bootstrap/vendor/bootstrap-colorpicker"]
	path = mod/bootstrap/vendor/bootstrap-colorpicker
	url = https://github.com/farbelous/bootstrap-colorpicker.git
[submodule "card-mod-bootstrap/vendor/select2"]
	path = mod/bootstrap/vendor/select2
	url = https://github.com/select2/select2
[submodule "card-mod-platypus/vendor/capybara-select2"]
	path = mod/platypus/vendor/capybara-select2
	url = https://github.com/brunocavalcante/capybara-select2
[submodule "mod/bootstrap/vendor/select2-bootstrap-5-theme"]
	path = mod/bootstrap/vendor/select2-bootstrap-5-theme
	url = https://github.com/apalfrey/select2-bootstrap-5-theme
