*/{lib,format,chunk}/**/*.rb
{card,decko}/mod/*/{lib,format,chunk}/**/*.rb
card/tmpsets/set*/**/*.rb
- */*.md *.md GPL LICENSE card/VERSION
--exclude .*/vendor/.* decko/README.md
--markup markdown
--load .yard_extensions/yard_extensions.rb
