{card,cardname,decko,mod/*,card/mod/core}/{lib,format}/**/*.rb
platypus/tmp/set*/**/*.rb
- mod/*/*.md */*.md *.md GPL LICENSE card/VERSION
--exclude .*/vendor/.*
--markup markdown
--markup-provider=kramdown
--load .yard_extensions/yard_extensions.rb
