.form-group.form-control-feedback
  %label
    Set
  %p.text-muted
    = card.find_existing_rule_card&.left&.label || "--"
  - if notify_change
    %p.autosubmit-success-notification
      %span.text-success
        Applied!
      = undo_button
