.tabbable{ panel_args.merge(role: "tabpanel") }
  %ul{ class: "nav nav-#{tab_type}", role: "tablist" }
    - tab_objects.each do |obj|
      = obj.tab_button
  .tab-content
    - tab_objects.each do |obj|
      = obj.send :tab_pane, pane_args, &block