.nest-form-header
  = haml_partial :reference_list_input_row,
                 name_field: header_field("Name"),
                 options_field: header_field("Options"),
                 postfix: "}}",
                 prefix: "{{",
                 show_edit_button: false
%ul{class: ul_classes}
  - items.each.with_index do |(reference, title), index|
    %li.pointer-li.mb-2._nest-form{"data-index": index}
      = haml_partial :reference_list_input_row,
                     name_field: name_autocomplete_field(reference, extra_classes: "_reference pointer-item-text form-control group-text-middle"),
                     options_field: text_field_tag("pointer_item_title", title, class: "_title _nest-options pointer-item-text form-control group-text-middle"),
                     prefix: "{{",
                     postfix: "}}",
                     show_edit_button: true

%span.input-group
  %button._pointer-item-add.btn.btn-secondary{ type: "submit" }
    = icon_tag "add"
    add another
