- pwinput_name = "card[subcards][+#{:password.cardname}][content]"
%input.form-control.d0-card-content._pw-input{ name: pwinput_name,
                                               type: "password",
                                               placeholder: "Password"}
