
= password_field :content, class: "d0-card-content _pw-input",
                           placeholder: "Password",
                           autocomplete: "off"
%span._toggle-password.visibility-icon._pw-text-area
  = icon_tag :hide_password, class: "_toggle-pw-visibility"
