%input.form-control.d0-card-content._pw-input{name: "card[subcards][+#{:password.cardname}][content]", type: "password", placeholder: "Password"}
%span._toggle-password.visibility-icon._pw-text-area
  = icon_tag :hide_password, class: "_toggle-pw-visibility"
