%input.form-control.d0-card-content._toggle-password{name: "card[subcards][+*password][content]", type: "password", placeholder: "Password"}
%span._toggle-password.toggle-password
  = icon_tag :hide_password
