<!DOCTYPE HTML>
<html>
  <head>{{*head|core}}</head>
  <body>
    {{default_body_content}}

    <div class="modal-header clearfix">
      {{_|modal_menu}}
    </div>
    <div class="modal-body ">
      {{_|layout: bridge}}
    </div>
    <div class="modal-footer">
      {{_|modal_footer}}
    </div>
  </body>
</html>



