%li._filtered-list-item.clearfix{ data: wrap_data }
  %span._handle.float-left.m-2
    = icon_tag :reorder
  %span.float-left.w-75
    = interior
  %span.filtered-list-item-button
    %button._filtered-list-item-delete.btn.btn-secondary.btn-sm.m-2{ type: "button"}
      = icon_tag :remove
