.bridge.container-fluid
  .row
    .col-8.bridge-main
      ._overlay-container-placeholder
        = interior
    .col-4.bridge-sidebar.nodblclick
      ._overlay-container-placeholder
        = bridge_tabs
