.bridge
  .row{class: classy("card-header")}
    = render_bridge_breadcrumbs
  .row
    .col-8.bridge-main
      = interiour
    .col-4.bridge-sidebar
      = render_follow_buttons
      = render_bridge_tabs
