.quick-filter._quick-filter
  %i.fa.fa-bolt.filter-section-icon
  .quick-filter-links.d-flex.flex-wrap
    - filter_list.each do |f|
      %a{ "data-filter": f[:filter],
          href: "#",
          class: f[:class],
          title: "Quick Filter: #{f[:text]}" }
        = f[:icon]
        = f[:text]
    = custom_quick_filters
