.input-group.mb-2.card-outline-primary.mr-2._filter-input{"data-category" => key}
  %span.input-group-btn
    %button.btn.btn-secondary.btn._delete-filter-input{:type => "button"}
      %strong
        %i.material-icons close
  %span.input-group-addon._selected-category
    = category[:label]
  = category[:input_field]
