.input-group.input-group-sm.mb-2.card-outline-primary.mr-2._filter-input.d-flex.flex-nowrap{"data-category": key, "class": "_filter-input-#{key}" }
  .input-group-prepend
    %button.btn.btn-secondary.input-group-text.p-1._delete-filter-input{:type => "button"}
      %small.text-muted
        = fa_icon :times
    %span.input-group-text._selected-category
      = category[:label]
  = category[:input_field]
