.tabbable.tab-panel{ panel_attr.merge(role: "tabpanel") }
  %ul{ class: "#{classy('nav')} nav-#{tab_type}", role: "tablist" }
    - tab_objects.each do |tab|
      = tab.tab_button
  .tab-content
    - tab_objects.each do |tab|
      = tab.send :tab_pane, pane_attr, &block