.form-group.row
  %label.col-sm-3.col-form-label
    = color_name
  .input-group.colorpicker-component.col-sm-6
    %input.form-control.input-lg{name: "colors[#{color_name}]", type: "text", value: color}/

    %span.input-group-text.input-group-addon
      %i

