._filter-items.container-fluid
  .row
    = nest filter_card, view: :filter_form
    ._unselected.col-6.border.mt-2.nopadding
      = nest filter_card, view: :select_item,
                          items: { view: implicit_item_view },
                          wql: { limit: 10 }
    ._selected.col-6.border.mt-2.nopadding
      .selected-box
        .card-header
          %h5
            Selected
            .badge.badge-secondary
              %span._selected-items
                0
        ._selected-item-list{ style: "display:none" }
          .p-3.deselector
            %input#deselect-all._deselect-all{ type: "checkbox", checked: true, disabled: true }
            %label{ for: "deselect-all" }
              deselect
              %span._selected-items
                0
              following
          ._selected-bin
      ._filter-help.alert.alert-secondary
        Filter and select items to add them here.
      .form-group
        .selected-item-buttons
          = button_tag "Cancel", class: "cancel-modal", data: { dismiss: :modal }
          = button_tag "Add Selected", class: "_add-selected slotter",
                                       disabled: true,
                                       href: card.name.url_key,
                                       data: { "slot-selector": ".TYPE-pointer.edit-view",
                                               dismiss: "modal" }


