%div.filtered-list-editor
  %ul.filtered-list-review._pointer-filtered-list
    - items.each do |item|
      %li._filtered-list-item{ "data-cardname": item }
        - nest_item item do |rendered, view|
          %span{ class: "item-#{view}"}
            = rendered
        %span.filtered-list-item-button
          %button._filtered-list-item-delete.btn.btn-secondary{:type => "button"}
            = icon_tag :remove
  = render_modal_link title: "Add Item",
                      link_opts: { path: { view: :filter_items,
                                           slot: { hide: :modal_footer } } }
