%div.filtered-list-editor
  %ul.filtered-list-review._pointer-filtered-list.list-group.vertical.nopadding
    - items.each do |item|
      %li._filtered-list-item{ "data-cardname": item }
        - nest_item item do |rendered, view|
          %span{ class: "item-#{view} float-left w-75"}
            = rendered
        %span.filtered-list-item-button
          %button._filtered-list-item-delete.btn.btn-secondary.btn-sm.m-2{:type => "button"}
            = icon_tag :remove
  %br
  .clearfix
    = render_modal_link title: "Add Item",
                      link_opts: { class: "btn btn-sm btn-primary",
                                   path: { view: :filter_items,
                                           layout: :modal2,
                                           slot: { hide: :modal_footer } } }

