.form
  .form-row.align-items-center.mb-4.ml-1
    .col-9
      .input-group{class: [snippet.field? ? "show-prefix" : "hide-prefix"]}
        .input-group-prepend._field-indicator
          .input-group-text.text-muted
            +
        = text_field_tag "nest_name", snippet.name, class: "form-control _nest-name",
                         "data-left-name" => card.name,
                         "data-left-type" => left_type_for_nest_editor_set_selection,
                         placeholder: "Card name"
    .col-3
      = check_box_tag :field, "field", snippet.field?,
                      class: "_nest-field-toggle", id: "nest-editor-field"
      %label.form-check-label{for: "nest-editor-field"} field

  = nest_editor_tabs
