%h3 To get started, set up an account.
- if Card.config.action_mailer.perform_deliveries == false
  .bg-warning.p-3
    WARNING: Email delivery is turned off.
    Change settings in config/application.rb to send sign up notifications.
