
%table.search-checkbox-item{ width: "100%" }
  %tr
    %td.checkbox-side
      = check_box_tag "checkbox-#{unique_id}", item_card.key
    %td.item-view-side
      .selectable-item{ data: { "card-key": item_card.key },
                        style: "background: #fff" }
        = nest_item item_card
