
%table._search-checkbox-item{ style: "width: 100%" }
  %tr
    %td.checkbox-side
      = check_box_tag "checkbox-#{unique_id}", item_card.key
    %td.item-view-side{ style: "background: #fff" }
      = nest_item item_card
