.row
  .col-6
    %h4 Palette
    - colors.each do |name, color|
      = haml_partial :colorpicker, color_name: name, color: color
  .col-6
    %h4 Uses
    - theme_colors.each do |name, value|
      .form-group.row
        %label.col-sm-4.col-form-label
          = name
        = theme_color_picker name, value

