.colorpicker-element.row
  .col-auto.input-group-addon
    = haml_partial :colorgroup, colorgroup: themecolornames_with_value
  .col-auto.input-group-addon
    = haml_partial :colorgroup, colorgroup: colors
  .col-auto.input-group-addon
    = haml_partial :colorgroup, colorgroup: grays

