%input.form-control.d0-card-content#card_subcards___password_content{name: "card[subcards][+*password][content]", type: "password", placeholder: "Password"}
%span#toggle-password.toggle-password
  = icon_tag :visibility_off
