%input.form-control#password-field{type: "password", placeholder: "Enter your password"}
%span#toggle-password
  = icon_tag :visibility_off

:javascript
  const passwordField = document.getElementById("password-field");
  const togglePassword = document.getElementById("toggle-password");

  togglePassword.addEventListener("click", () => {
    if (passwordField.type === "password") {
      passwordField.type = "text";
      togglePassword.querySelector('i').textContent = "visibility";
    } else {
      passwordField.type = "password";
      togglePassword.querySelector('i').textContent = "visibility_off";
    }
  });
