%input.form-control.d0-card-content._toggle_password{name: "card[subcards][+*password][content]", type: "password", placeholder: "Password"}
%span._toggle-password.toggle-password
  = icon_tag :hide_password

-# TODO: Temp fix because external coffeescript doesn't get sourced. Remove.
:javascript
  const passwordField = document.querySelector("input._toggle_password");
  const togglePassword = document.querySelector("span._toggle-password");

  togglePassword.addEventListener("click", () => {
    if (passwordField.type === "password") {
      passwordField.type = "text";
      togglePassword.querySelector('i').textContent = "visibility";
    } else {
      passwordField.type = "password";
      togglePassword.querySelector('i').textContent = "visibility_off";
    }
  });