%input.form-control.d0-card-content#card_subcards___password_content{name: "card[subcards][+*password][content]", type: "password", placeholder: "Password"}
%span#toggle-password.toggle-password
  = icon_tag :visibility_off

:javascript
  const passwordField = document.getElementById("card_subcards___password_content");
  const togglePassword = document.getElementById("toggle-password");

  togglePassword.addEventListener("click", () => {
    if (passwordField.type === "password") {
      passwordField.type = "text";
      togglePassword.querySelector('i').textContent = "visibility";
    } else {
      passwordField.type = "password";
      togglePassword.querySelector('i').textContent = "visibility_off";
    }
  });
