
.card
  .card-body.pl-1
    %form._filter_form{form_args, "accept-charset" => "UTF-8", "data-remote" => "true", :method => "get"}
      ._filter_input_field_prototypes.d-none
        - categories.each do |key, category|
          ._filter_input_field{class: key}
            = render_haml_partial :filter_input, category: category
            -# = categories[category][:input_field]
      ._filter_container.d-flex.flex-row
        %i.material-icons.text-muted.md-24.p-2 search

        - categories.each do |_key, category|
          - if category[:active]
            = render_haml_partial :filter_input, category: category
        .input-group.border-all.card-outline-primary.mr-2._filter_input._prototype
          %span.input-group-btn
            %button.btn.btn-primary.btn-sm._delete_filter_input{:type => "button"}
              %strong
                %i.material-icons close
          %span.input-group-addon._selected_category

        .btn-group._add_filter_dropdown.float-left
          %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Add filter
          .dropdown-menu
            - categories.each do |key, category|
              %a.dropdown-item._filter_category_select{class: ("d-none" if category[:active]),
                "data-category" => key, "data-label" => category[:label], :href => "#"}
                = category[:label]
