.expanded-bar
  %div{ class: classy("bar-body") }
    .nodblclick{ class: classy("bar") }
      %div{ class: classy("bar-left") }
        = naming { render :bar_left }
      %div{ class: classy("bar-right") }
        = render :bar_right, hide: :short_content
    .bar-bottom
      = render :bar_bottom
  = render :bar_nav
