.form-group
  %label View
  = help_link t(:tinymce_editor_image_nest_editor_view_help_text), t(:tinymce_editor_image_nest_editor_view_help_title)
  = image_view_select snippet.view

.form-group
  %label Size
  = image_size_select