.form-row._nest-option-row{class: [template && "_template"]}
  .col-6
    .input-group.input-group-sm.mb-2.mr-2.d-flex.flex-nowrap
      .input-group-prepend{class: [!name && "d-none"]}
        %button.btn.btn-secondary.input-group-text.p-1._nest-delete-option{:type => "button"}
          %small.text-muted
            = fa_icon :times
      = nest_option_name_select name, level
  .col-6
    = nest_option_value_select value
