.api-key-core.p-1
  .api-key-top.d-flex.my-2.py-3.border-bottom.justify-content-between.w-100
    - if card.content.present?
      = render core_top_view
  .api-key-buttons.d-flex.my-2.py-3.justify-content-between.w-100
    = render_buttons
