.board.container-fluid
  .row
    .col-8.board-main
      ._overlay-container-placeholder
        = interior
    .col-4.board-sidebar.nodblclick
      ._overlay-container-placeholder
        = board_tabs
