#modal-container.modal.fade._modal-slot{role: "dialog"}
  -# .modal-dialog
  %div{class: classes}
    .modal-content
      .modal-header.clearfix
        = title
        = menu
      .modal-body
        = body
      - if footer.present?
        .modal-footer
          = footer
