#modal-container.modal.fade._modal-slot{role: "dialog"}
  .modal-dialog{class: classes}
    .modal-content
      .modal-header.clearfix
        = menu
      .modal-body
        = body
      .modal-footer
        = footer
