%h4
  .guide-line 1
  Define rule
.help-text
  Help text to explain this section
.card-editor
  = rules_type_formgroup
  = rule_content_formgroup
%h4
  .guide-line 2
  Apply to set
.help-text
  Help text to explain this section
.card-editor
  = rule_set_selection
  = edit_rule_buttons