/*----------- Bars and Boxes -------------*/

// $bar-border-color: $grey-100;
// $box-border-color: $grey-100;
$bar_stripe_color: $dark !default;
$box_stripe_color: $dark !default;

.bar, .box {
  border: 1px solid $border-color;
  box-shadow: $box-shadow-sm;
  &:hover {
    box-shadow: $box-shadow-lg;
    cursor: pointer
  }
}

.bar {
  display: flex;
  border-left: 3px solid $bar_stripe_color !important;

  .media {
    width: 100%
  }
  .media-left {
    max-width: 25%
  }
}
.bar-body {
  width: 100%;
  display: flex;
}
.bar-left, .bar-right, .bar-middle {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}
.bar-left {
  font-weight: bold;
  align-items: flex-start;
}
.bar-middle {
  justify-content: center;
}
.bar-right {
  justify-content: flex-end;
}
.bar-menu {
  padding: 1em;
}

.bar-menu-button {
  padding: 0.2em 0.75em;
  &:hover {
    background-color: $secondary;
    color: $white;
    border-radius: 5px;
  }
  // disable dropdown caret
  &:after {
    display: none;
  }
}

.bar-menu-list a {
  i {
    padding-right: 0.4em;
  }
}


//@include media-breakpoint-up(md) {
//  .bar .bar-middle {
//    display: flex;
//  }
//}


//@include media-breakpoint-up(sm) {
//  .bar-nav {
//    display: none;
//  }
//  .bar, .expanded-bar {
//    &:hover .bar-nav {
//      display: flex
//    }
//  }
//}
//
//.collapsed-bar {
//  display: flex;
//  justify-content: space-between;
//}

//.expanded-bar {
//  margin: 0.5em 0;
//  display: flex;
//  > .bar-body {
//    > .bar {
//      border-bottom: 1px solid $border-color;
//      display: flex;
//    }
//    > .bar-bottom {
//      padding: 1em 1em 1em 2em;
//      border-top: 0;
//      overflow: hidden;
//    }
//  }
//
//}

// wrapper around box in list context
.item-box {
  display: inline-block;
  padding: 10px 1%;
  vertical-align: top;
}

.box {
  border-top: 3px solid $box_stripe_color;
  width: 320px;
}

.box-top {
  display: flex;
  min-height: 60px;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  h1, h2, h3, h4, h5, h6, div, span, a {
    white-space: nowrap;
    overflow:  hidden;
    text-overflow: ellipsis;
  }
}

.box-middle {
  min-height: 180px;
  img {
    object-fit: contain;
    height: 130px;
    width: 190px;
  }
  i {
    display: flex;
    justify-content: center;
    min-height: 130px;
    align-items: center;
    font-size: 70px;
    color: $text-muted;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
