.collapsed-bar.nodblclick{ class: classy("bar") }
  %div{ class: classy("bar-body") }
    - if voo.show? :bar_left
      %div{ class: classy("bar-left") }
        = render :bar_left
    - if voo.show? :bar_middle
      %div{ class: classy("bar-middle") }
        = render :bar_middle
    - if voo.show? :bar_right
      %div{ class: classy("bar-right") }
        = render :bar_right
  = render :bar_nav
