.box.col-3.float-left
  .p-0.drop-shadow.rounded-0.top-border-default.mb-4
    .box-top.border-bottom.p-2.d-flex
      = render :box_top
    .box-middle.border-bottom.p-2
      = render :box_middle
    .box-bottom.p-2.d-flex
      = render :box_bottom
