- bar_classes = css_classes classy("bar"), card.safe_set_keys
.expanded-bar.border.with-fancy-border.nodblclick
  .bar-top.border.d-flex.justify-content-between.p-0{class: bar_classes}
    %div{class: classy("bar-left")}
      = render :bar_expanded_left
    %div{class: classy("bar-right")}
      = render :bar_right, hide: :short_content
      = render :bar_expanded_nav, optional: :hide
  .bar-bottom.col-12.border.border-top-0.pb-3.pl-5.pt-2
    = render :bar_bottom
