.expanded-bar
  .bar-body
    .bar-top.nodblclick{ class: bar_classes }
      %div{class: classy("bar-left")}
        = naming { render :bar_left }
      %div{class: classy("bar-right")}
        = render :bar_right, hide: :short_content
    .bar-bottom
      = render :bar_bottom
  = render :bar_nav
