%h5
  Skin configuration from simplest to most advanced
= field_nest :colors, view: :info_bar, title: "Palette and uses of colors"
= field_nest :variables, view: :bar, title: "Additional SCSS variables", show: [:edit_button, :bar_middle]
= field_nest :stylesheets, view: :info_bar, title: "SCSS and CSS stylesheets", show: :edit_button
