/*----------- (Account Request)--------------*/

.invite-links {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  a {
    font-weight: bold;
    margin: 0 20px;
  }
}

/*-- sign in page --*/

#sign-in input#login_field,
#sign-in input#password,
#forgot-password input#email {
  width: 50%;
}

#forgot-password {
  margin-top: 40px;
}

.new-account-link {
  text-align: center;
}

.form-group .signup-link {
  display: inline;
}

// FIXME - decko should handle better
//#my-card-link {
//  padding-right: 0.6em;
//}
