
.card.w-100.nodblclick
  .card-body
    ._filter-widget
      // FILTERING PROTOTYPES
      ._filter-input-field-prototypes.d-none
        - categories.each do |key, category|
          = haml_partial :filter_input, key: key, category: category


      // FORM
      %form._filter-form{form_args, "accept-charset": "UTF-8",
                                    "data-remote": "true",
                                    method: "get"}
        - not_ids = params.dig :filter, :not_ids
        %input{ type: :hidden, name: "filter[not_ids]", class: "_not-ids", value: not_ids }
        .d-flex.flex-wrap
          = render_quick_filters
          - if sort_input_field.present?
            // SORTING
            .sort-in-filter-form
              %i.fa.fa-sort.text-muted.p-2.float-left
              .input-group.input-group-sm.flex-nowrap.sort-input-group.mb-2.card-outline-primary.mr-2
                .input-group-prepend
                  %span.input-group-text sort
                = sort_input_field

          // FILTERING
          .filter-in-filter-form
            %i.fa.fa-filter.filter-section-icon
            ._filter-container.d-flex.flew-row.flex-wrap
              // FILTERS inserted here

              // ADD FILTER DROPDOWN
              .dropdown._add-filter-dropdown.mr-2
                %button.btn.btn-sm.btn-primary.dropdown-toggle{"aria-expanded": "false",
                                                               "aria-haspopup": "true",
                                                               "data-toggle": "dropdown",
                                                               type: "button" }
                  More Filters
                .dropdown-menu
                  - categories.each do |key, category|
                    %a.dropdown-item._filter-category-select{"data-category": key,
                                                             "data-label": category[:label],
                                                             "data-active": ("true" if category[:active]),
                                                             "data-default": ("true" if category[:default]),
                                                             :href => "#"}
                      = category[:label]

              // RESET BUTTON
              ._reset-filter
                %button.btn.btn-sm.btn-secondary{type: "button"}
                  %i.fa.fa-refresh