= rules_filter
- haml_wrap do
  -# = render_common_rules hide: :content
  %table.set-rules.table
    %tr.rule-group
      %th.rule-heading Trait
      %th.rule-heading Set
    - settings.each do |setting|
      - next unless show_view? setting
      - rule_card = card.fetch trait: setting, new: {}
      = nest(rule_card, view: :rule_link).html_safe
