%table.set-rules.table
  %tr.rule-group
    %th.rule-heading Trait
    - if voo.show? :content
      %th.rule-heading Content
    %th.rule-heading Set
  - settings.each do |setting|
    - next unless show_view? setting
    - rule_card = card.fetch trait: setting, new: {}
    - optional_content = (voo.hide?(:content) ? :hide : :show)
    = nest(rule_card, view: :closed_rule, optional_content => :content ).html_safe
