._options-select{class: [template &&'_template']}
  = haml_partial :options_select_row, template: false, new_row: false, items: items
  = haml_partial :options_select_row, template: false, new_row: true, items: items
  = haml_partial :options_select_row, template: true, new_row: true, items: items