._options-select{class: [template &&'_template']}
  - if data
    - data.each do |name, value|
      = haml_partial :options_select_row, template: false, name: name,
                                          level: level, value: value
  = haml_partial :options_select_row, template: false, name: nil, level: level,
                                      value: nil
  = haml_partial :options_select_row, template: true, name: nil, level: level,
                                      value: nil
