._options-select{class: [template &&'_template']}
  - if data
    - data.each do |name, value|
      = haml_partial :options_select_row, template: false, name: name,
                                          items: items, value: value
  = haml_partial :options_select_row, template: false, name: nil, items: items,
                                      value: nil
  = haml_partial :options_select_row, template: true, name: nil, items: items,
                                      value: nil
