#modal-container.modal.fade._modal-slot{ role: "dialog" }
  //, "data-backdrop": "static"}
  %div{class: classes}
    .modal-content
      .modal-header
        = title
        - if voo.show? :menu
          = menu
        - else
          %button.btn-close{ type: "button",
                             "data-bs-dismiss": "modal",
                             "aria-label": "Close" }
      .modal-body
        = body
      - if footer.present?
        .modal-footer
          = footer
