#modal-container.modal.fade._modal-slot{ role: "dialog" }
  //, "data-backdrop": "static"}
  %div{class: classes}
    .modal-content
      .modal-header.clearfix
        = title
        = menu if voo.show? :menu
      .modal-body
        = body
      - if footer.present?
        .modal-footer
          = footer
