

/*---------- Card menu ------------*/

.card-menu {
  position: absolute;
  right: 8px;
  top: 5px;
}

.d0-card-content, .titled-view > .d0-card-header {
  > .card-menu {
    top: 0;
  }
}

.d0-card-content .card-menu i {
  font-size: 1.2em
}

.modal-menu, .overlay-menu {
  a {
    color: $text-muted !important;
    opacity: 0.6 !important;
    &:hover {
      opacity: 1 !important;
    }
  }
}


@include media-breakpoint-up(xs) {
  // Hover over these, and only the card menus that are immediate children will appear
  .card-slot > .d0-card-frame > .d0-card-header,
  .card-slot > .d0-card-header,
  .card-slot.labeled-view > .labeled-content > .d0-card-body,
  .card-slot,
  .card > .card-body,
  .card > .card-header {
    > .card-menu._show-on-hover > a {
      display: none;
    }
    &:hover > .card-menu._show-on-hover > a {
      display: inline-block;
    }
  }

  // Hover over this one, and ANY card-menu inside will appear
  .card-menu-hoverspace {
    .card-menu._show-on-hover > a {
      display: none;
    }
    &:hover .card-menu._show-on-hover > a {
      display: inline-block;
    }
  }
}

.card-menu.nodblclick {
  position: relative;
}

.card-menu.nodblclick::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}
