/*-- misc --*/

.TYPE-toggle.d0-card-content {
  font-style: italic;
}

// TODO: use mixin
pre,
.TYPE-plain_text.d0-card-content,
.SELF-Xhead.d0-card-content {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.unknown-view a {
  display: inline;
}

.VIEW-type {
  font-style: italic;
  font-size: .85em;
}


.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.labeled-view:hover .card-menu {
  display: inline-block;
}


.labeled-view {
  padding: 5px 0;
  max-width: 100%;
  .labeled-content {
    font-weight: bold;
    .pointer-list,
    .pointer-item,
    .search-result-list,
    .search-result-item {
      font-size: 1em;
      padding: 0;
      text-indent: 0;
    }
  }
}

.btn-reduced-padding {
  padding: 0.1rem 0.2rem;
}

/*-------- Icon Helpers --------*/

/* Material icon placement */
.material-icons {
  vertical-align: sub;
  font-size: medium;
}

.material-icons.md-24 { font-size: 24px; }


//a.external-link {
//  // color: $warning;
//  &:after {
//    content: "\f360";
//    font-weight: 900;
//    right: -2px;
//    position: relative;
//    bottom: 4px;
//    font-family: fontAwesome;
//    font-size: 8px;
//    text-decoration: none !important;
//    display: inline;
//  }
//}
//
//a.external-link,
//.closed-content a.external-link {
//  padding-right: 2px !important;
//}

