%div{role: "tabpanel"}
  %ul#myTab.nav.nav-tabs{ role: "tablist" }
    %li.active{ role: "presentation" }
      %a{ "aria-controls": "following", "data-toggle": "tab",
          href: "#following", role: "tab" }
        Follow
    %li{role: "presentation"}
      %a{"aria-controls": "ignoring", "data-toggle": "tab",
         href: "#ignoring", role: "tab"}
        Ignore
  .tab-content
    #following.tab-pane.active{role: "tabpanel"}
      = render_follow_tab
    #ignoring.tab-pane{role: "tabpanel"}
      = render_ignore_tab