.guide-line.rule-section.mt-4
  %h5
    .guide-line-number 1
    Define rule
    -# = popover_link "Help text to explain this section"
  = render(:rule_form_card_editor)
.rule-section
  %h5
    .guide-line-number 2
    Apply to set
    = popover_link "Each rule applies to a set of cards. Rules for more specific sets override rules for more general ones."
  .card-editor
    = bridge_rule_set_selection
    = edit_rule_buttons

-##app-5
-#  %p {{ message }}
-#  %button{'v-on:click': 'reverseMessage'} Reverse Message
