%span.labeled-badge{ class: klass, title: title, "data-bs-toggle": "tooltip", "data-bs-placement": "bottom" }
  %label
    = label
  %span.badge{ class: "bg-#{color}" }
    = number_with_delimiter count
