.card.mb-4.box-shadow
  .card-header
    = card.name
  = render_thumbnail_image
  .card-body
    .d-flex.justify-content-center.align-items-center
      .btn-group
        = select_button
        = render_customize_button
      -#%small.text-muted 9 mins
